@import '~bootstrap/scss/functions';
@import '../variables';
@import '~bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../scss/sb-admin';
 
/*
 * Base styles
 * ========================================================================== */

html, body {
  font-family: $font-family-base;
}

.search-bar {
    -webkit-transition: width  1s ease-in-out !important;
	-moz-transition: width  1s ease-in-out !important;
	-o-transition: width  1s ease-in-out !important;
	transition: width  1s ease-in-out !important;
    width: 50% !important;
    float: right;
}

.search-bar-expanded {
	-webkit-transition: width 1s ease-in-out !important;
	-moz-transition: width 1s ease-in-out !important;
	-o-transition: width 1s ease-in-out !important;
	transition: width 1s ease-in-out !important;
    width: 100% !important;
    float: right;

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: transparent;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: transparent;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: transparent;
    }
}

#jobs {
    position: absolute;
    background-color: #fff;
    top: 48px;
    width: 262px;
}